<script lang="ts">
  import Config from "./Config.svelte";
  import "bulma/css/bulma.css";
  import "./app.css";
</script>

<main>
  <div class="container">
    <section class="hero is-info welcome is-small">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Ponguy web configuration</h1>
        </div>
      </div>
    </section>
    <Config />
  </div>
</main>
