:root{
    ::-webkit-scrollbar{height:10px;width:10px}::-webkit-scrollbar-track{background:#efefef;border-radius:6px}::-webkit-scrollbar-thumb{background:#d5d5d5;border-radius:6px}::-webkit-scrollbar-thumb:hover{background:#c4c4c4}
    }
    html, body {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
      font-size: 16px;
      line-height: 1.5;
      height: 100%;
      background: #ECF0F3;
    }
    .card {
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
      margin-bottom: 2rem;
    }
    .card-header-title {
      color: #8F99A3;
      font-weight: 400;
    }
    .info-tiles {
      margin: 1rem 0;
    }
    .info-tiles .subtitle {
      font-weight: 300;
      color: #8F99A3;
    }
    .hero.welcome.is-info {
      background: #36D1DC;
      background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
      background: linear-gradient(to right, #5B86E5, #36D1DC);
    }
    .hero.welcome .title, .hero.welcome .subtitle {
      color: hsl(192, 17%, 99%);
    }
    .card .content {
      font-size: 14px;
    }
    .card-footer-item {
      font-size: 14px;
      font-weight: 700;
      color: #8F99A3;
    }
    .card-footer-item:hover {
    }
    .card-table .table {
      margin-bottom: 0;
    }