<script lang="ts">
  export let type: string;
  export let value: any;
</script>

{#if ["str"].includes(type)}
  <input type="text" class="input" bind:value />
{:else if ["int", "percentage", "float", "pin"].includes(type)}
  <input type="number" class="input" bind:value />
{:else if type == "bool"}
  <input type="checkbox" bind:checked={value} />
{/if}
