<script lang="ts">
  const CONFIG_ENDPOINT = "http://192.168.8.1/config";
  import ConfigInput from "./ConfigInput.svelte";
  interface Config {
    value: any;
    default: any;
    meta: {
      type: "str" | "int" | "enum" | "float" | "pin" | "percentage" | "bool";
      category: string;
      desc: string;
      enum?: string;
      list?: string;
    };
  }
  let out_configs: { [key: string]: Config } = {};
  let loading: string | null = null;
  const get_categories = async () => {
    loading = "Loading...";
    const categories: { [key: string]: { [key: string]: Config } } = {};
    const resp = await fetch(CONFIG_ENDPOINT);
    const _configs = await resp.json();
    for (const key in _configs) {
      const config = _configs[key];
      if (!(config.meta.category in categories)) {
        categories[config.meta.category] = {};
      }
      categories[config.meta.category][key] = config;
      out_configs[key] = config;
    }
    loading = null;
    return Object.entries(categories);
  };

  const submit = async () => {
    const out: { [key: string]: string } = {};
    for (const key in out_configs) {
      const config = out_configs[key];
      if (config.value != config.default) {
        out[key] = config.value;
      }
    }
    const json_out = JSON.stringify(out);
    console.log(json_out);
    await fetch(CONFIG_ENDPOINT, {
      method: "POST",
      body: json_out,
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json",
      },
    });
    loading =
      "Applying changes... Device is restarting, page will reload in 5 seconds";
    setTimeout(() => {
      window.location.reload();
    }, 5000);
  };
</script>

{#if loading}
  <div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="block is-size-2 has-text-white">{loading}</div>
      <progress class="progress is-large is-info" max="100"></progress>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
{/if}
<div class="card events-card">
  <header class="card-header">
    <p class="card-header-title">Configuration</p>
  </header>
  <div class="card-table">
    {#await get_categories()}
      <div class="skeleton-block"></div>
    {:then categories}
      <div class="content">
        <table class="table is-fullwidth is-striped">
          <tbody>
            {#each categories as [category, configs]}
              <tr>
                <th colspan="3">{category}</th>
              </tr>
              {#each Object.entries(configs) as [key, config]}
                <tr>
                  <td width="50%"
                    >{key}<br /><i
                      >{config.meta.desc} (default: {config.default})</i
                    ></td
                  >
                  <td width="45%">
                    <ConfigInput
                      type={config.meta.type}
                      bind:value={out_configs[key].value}
                    />
                  </td>
                  <td width="5%"
                    ><button
                      class="button is-small is-info"
                      disabled={out_configs[key].value == config.default}
                      on:click={() => (out_configs[key].value = config.default)}
                      >↺</button
                    ></td
                  >
                </tr>
              {/each}
            {/each}
          </tbody>
        </table>
      </div>
    {/await}
  </div>
  <footer class="card-footer">
    <div class="container my-1 mr-3 has-text-right">
      <button class="button is-danger" on:click={get_categories}>Cancel</button>
      <button class="button is-success" on:click={submit}>Submit</button>
    </div>
  </footer>
</div>
